<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- Add your Hibernate configuration settings here -->
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> <!-- data base language-->
        <property name="hbm2ddl.auto">update</property> <!-- create: - create table again, update: - create if not existed -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property> <!-- formatting the hibernate query in sql format -->

        <!-- set properties for 2nd level cache (manually enable karni padegi) -->
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>

        <mapping class="org.example.Student" />

<!--        <mapping class="org.example.StudentAdress" />-->
<!--        <mapping class="org.example.map.Answer" />-->
<!--        <mapping class="org.example.map.Question" />-->
<!--        <mapping class="org.example.map.User" />-->
<!--        <mapping class="org.example.map.Pharmacy" />-->
<!--        <mapping class="org.example.map.Department" />-->
<!--        <mapping class="org.example.map.Employee" />-->

    </session-factory>
</hibernate-configuration>